:root {
    --Chat-Font-Used: 'Comic Code Ligatures', Regular;
    --Chat-Font-Size: 12px;
}

:not([class="hljs"]):not(code){
    font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
    font-size: var(--Chat-Font-Size)!important;
}